body {
  font-size: 15px;
}
.container {
  display: flex;
  flex-direction: row;
  background-color: var(--color-card-background);
  width: 1050px;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 446px;
}
.textSection {
  color: var(--color-white);
  margin: 4.5rem 3.5rem;
  width: 450px;
}

.title {
  font-size: 2.2rem;
}
.accent {
  color: var(--color-accent);
}
.paragraph {
  color: var(--color-white-paragraph);
  margin: 1.5rem 0 1.5rem;
  padding-right: 2.25rem;
  width: 90%;
  font-size: 15px;
}
.stats {
  width: 82%;
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
}

.stats p {
  padding-top: 0.6rem;
  font-size: 0.8rem;
  font-family: var(--font-lexend);
  color: var(--color-white-stat-headings);
}

.imageSection {
  background: url('../resources/image-header-desktop.jpg'), 0 0 no-repeat fixed;
  height: 100%;
  width: 50%;
  background-color: var(--color-accent);
  background-blend-mode: multiply;
}

@media only screen and (max-width: 376px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    height: 90%;
    padding-bottom: 2rem;
  }
  .textSection {
    margin: 1rem;
    word-wrap: break-word;
    width: auto;
    text-align: center;
    height: 65%;
  }

  .title {
    font-size: 1.9rem;
  }

  .imageSection {
    background: url('../resources/image-header-mobile.jpg'), 0 0 no-repeat fixed;
    width: auto;
    background-color: var(--color-accent);
    background-blend-mode: multiply;
    background-size: cover;
  }

  .paragraph {
    margin: 0 auto;
    padding: 1rem 0 1rem;
    font-size: 1.05rem;
  }

  .stats {
    font-size: 1rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .stats > * {
    margin-top: 1.5rem;
  }
}
